<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simba.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MenuResult" type="com.simba.system.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="application_id" property="applicationId" />
        <result column="type" property="type" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="perms" property="perms" />
        <result column="icon" property="icon" />
        <result column="no_cache" property="noCache" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="MenusWithRole" type="com.simba.system.entity.Menu" extends="MenuResult">
        <collection property="roles" ofType="com.simba.system.entity.Role">
            <id column="id" property="id" />
            <result column="name" property="name" />
            <result column="code" property="code" />
            <result column="applications" property="applications" />
            <result column="data_scope" property="dataScope" />
            <result column="sort" property="sort" />
            <result column="status" property="status" />
            <result column="create_by" property="createBy" />
            <result column="create_time" property="createTime" />
            <result column="update_by" property="updateBy" />
            <result column="update_time" property="updateTime" />
            <result column="remarks" property="remarks" />
            <result column="del_flag" property="delFlag" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, parent_ids, application_id, type, path, component, perms, icon, no_cache, sort, status, create_by, create_time, update_by, update_time, remarks, del_flag
    </sql>

    <select id="getMenusWithRoleByUrl" resultMap="MenusWithRole">
        SELECT
            mes.*,
            rle.id,
            rle.`name`,
            rle.`code`,
            rle.applications,
            rle.data_scope,
            rle.sort,
            rle.`status`,
            rle.create_by,
            rle.create_time,
            rle.update_by,
            rle.update_time,
            rle.remarks,
            rle.del_flag
        FROM
            sys_menu mes,
            sys_role_menu mlr,
            sys_role rle
        WHERE
            mes.id = mlr.menu_id
          AND rle.id = mlr.role_id
          AND mes.type = 'F'
          AND mes.path = #{url}
        ORDER BY
            mes.id
    </select>

    <!--通过角色查询菜单-->
    <select id="selectMenuListByRoleId" parameterType="Integer" resultMap="MenuResult">
        SELECT m.*
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
        WHERE
            m.del_flag = 0 and m.type in ('M', 'C') AND rm.role_id = #{roleId}
        ORDER BY m.parent_id, m.sort
    </select>

    <!--通过角色编号查询菜单编号-->
    <select id="selectMenusByRoleId" parameterType="Integer" resultType="Integer">
        select m.id
        from sys_menu m left join sys_role_menu rm on m.id = rm.menu_id
        where rm.role_id = #{roleId} and m.id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.id = rm.menu_id and rm.role_id = #{roleId})
        order by m.parent_id, m.sort
    </select>

</mapper>
